<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.UserPrizeMapper">

    <resultMap id="BaseResultMap" type="com.it.entity.UserPrize">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="prizeName" column="prize_name" jdbcType="VARCHAR"/>
            <result property="exchangedTime" column="exchanged_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,prize_name,exchanged_time
    </sql>
</mapper>
